<section id="team" class="team">
    <div class="content-wrapper">
    	<div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">

        	<p class="text-left">
        	Data Science Africa summer school is aimed at equipping participants with Machine Leaning, Data Science and Artificial Intelligence skills. This will be organized in sessions and after each session there will be exercises to assess the learning.
        	</p>

        	<p class="text-left">
			To this end, we require that summer school participants are well versed with the basics of the technologies and languages that will be used in the summer school. Particularly, we want to make sure participants have sufficient base skills in Python programming, Data science and Machine learning. 
            <br>
            Workshop participants are highly encouraged to submit an abstract to share your recent works with the community. The abstracts will be reviewed by the organizers to give feedback.
			</p>

			<p class="text-left">
			 	<a href="https://forms.gle/YpEkqfSCPSzYQWvZ6" target="_blank">Event registration</a>
			</p>
			<br>
			<p class="text-left">The deadline for registration is September 26th, 2021 </p>

			<hr>

            <p class="text-left">
              For more information, contact us at <a href="mailto:info@datascienceafrica.org">info@datascienceafrica.org</a> or follow us on <a href="https://twitter.com/dsa_org" target="_blank">twitter</a> for updates.
            </p>

        </div>
    </div>
    </div>
</section>
